<div class="row col-sm-12">
    <div class="col-md-6">
    <table class="table">
        <tbody>
            <tr data-ng-repeat="(key,val) in fundData">
                <td>{{key}}</td>
                <td>{{val}}</td>
            </tr>
        </tbody>
    </table>
    </div>

    <div class="col-md-6">
        <div class="col-md-12">
            <h3>NAV</h3>
            <div id="nav-chart-container"></div>
        </div>

        <div class="col-md-12">
            <h3>Returns</h3>
            <div class="input-group">
            <label class="input-group-addon">Rolling Window: </label>
            <select class="form-control" data-ng-model="chosenPeriod" data-ng-change="changePeriod()">
                <option data-ng-repeat="(key,val) in periods" value="{{val}}">{{key}}</option>
            </select>
            </div>
            <div id="return-chart-container"></div>
        </div>
    </div>
</div>