<div class="row col-sm-12">
    <div>
        <table class="table table-condensed table-hover">
            <thead>
            <tr>
                <th width="10%">Date</th>
                <th>Fund</th>
                <th>Cash Flow</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>
                    <button class="btn btn-success" data-ng-click="showNewTransactionRow = true">
                        <span class="fa fa-plus"></span> Add
                    </button>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-show="showNewTransactionRow">
                <td><input type="text" class="form-control" placeholder="YYYY-MM-DD" uib-datepicker-popup
                           data-ng-model="navDate"
                           data-ng-click="openDatePicker = true"
                           data-ng-change="getFundsForDate(navDate)"
                           is-open="openDatePicker"
                ></td>
                <td>
                    <span data-ng-show="!navDate">Choose Date</span>
                    <span data-ng-show="navDate && !fundList.length" class="fa fa-spin fa-spinner"></span>
                    <span data-ng-show="navDate && fundList.length">
                    <input type="text" class="form-control typeahead" placeholder="Type a Scheme Name"
                           data-ng-model="selectedFund"
                           uib-typeahead="fund as fund.fundNameRaw for fund in fundList | filter:{fundNameRaw:$viewValue} | limitTo:10"
                           typeahead-show-hint="true"
                           typeahead-on-select="getSelectedFundNAV()"
                           typeahead-min-length="1"
                           typeahead-editable="false"></span>
                </td>
                <td><input type="number" class="form-control" placeholder="in Rupees"
                           data-ng-model="newTxn.cashflow" data-ng-disabled="!newTxn.price"></td>
                <td><span data-ng-show="newTxn.price && newTxn.cashflow">{{newTxn.cashflow / newTxn.price | number:3 }}</span></td>
                <td>{{newTxn.price}}</td>
                <td>
                    <div class="btn-group btn-group-sm">
                        <button class="btn" data-ng-click="addTransaction()">
                            <span class="fa fa-check"></span>
                        </button>
                        <button class="btn btn-default" data-ng-click="clearNewTransaction()">
                            <span class="fa fa-remove"></span>
                        </button>
                    </div>
                </td>
            </tr>
            <tr data-ng-repeat="txn in transactionList">
                <td>{{txn.txnDate | date:'mediumDate'}}</td>
                <td>{{txn.assetName}}</td>
                <td>{{txn.cashflow}}</td>
                <td>{{txn.quantity | number:3 }}</td>
                <td>{{txn.cashflow / txn.quantity | number:3}}</td>
                <td>
                    <div class="btn-group btn-group-sm" style="margin: 0px">
                    <button class="btn" data-ng-click="editTransaction(txn.transactionId)">
                        <span class="fa fa-pencil"></span>
                    </button>
                    <button class="btn btn-default" data-ng-click="deleteTransaction(txn.transactionId)">
                        <span class="fa fa-remove"></span>
                    </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>